<%= form_for @post do |form| %>
<div class = "content">
  <p>
    <strong >What is your question? </strong><br>
    <%= form.text_field :title, required: true %>
  </p>
 
  <p>
  <strong>Add More Description</strong><br>
    <%= form.text_area :text %>
  </p>
 
 <div class = "collection">
   <strong> <%= form.label :subject_ids, "What subject does this question relate to?" %><strong><br>
    <%= form.collection_check_boxes :subject_ids, Subject.all, :id, :name, required: true %>
  </div>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>

</div>