<%= form_for @post do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
 <div>
    <%= form.label :subject_ids, "What subject does this question relate to?" %>
    <%= form.collection_check_boxes :subject_ids, Subject.all, :id, :name %>
  </div>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>